:root{
  --col:#00a8b8;
  --fcol:rgb(255, 255, 255);
}
.mycontain{
  max-width: 600px;
  width: 600px;
}

.form-check-input:checked {
  background-color: #07ad3f;
  border: 4px;
  animation: mymove 7s infinite;

}

@keyframes mymove {
  0% {background-color: rgb(17, 85, 26); }
  50% {background-color: rgb(0, 211, 28);}
  100% {background-color:  rgb(17, 85, 26);}
}

/* .bg-warning,.btn-warning{
  background-color: var(--col) !important;
  border-color:var(--col);
  box-shadow: var(--col);
  color: var(--fcol);
} */